
name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: mcr.microsoft.com/openjdk/jdk:25-ubuntu
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v3
      - run: ./gradlew check build publishToMavenLocal --stacktrace --parallel --warning-mode=fail
      - uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/